<h2>Contact Jayanth's Pie Shop</h2>
<p>If you have any questinos, please don't hesitate to get in touch. Click below to send us an email.</p>
<email address="jayanthdore1234@gmail.com"   content="Contact us" ></email>
<a><email address="jayanthdore1234@gmail.com"></email></a>

<a href='https://join.skype.com/bot/10aacca3-d9fe-471a-af0f-23e16d541801'><img src='https://dev.botframework.com/Client/Images/Add-To-Skype-Buttons.png' /></a>


